.links.active{
  color: #3670D3;
  text-decoration: underline;
  font-weight: 600;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}
.login{
  border: 2px solid #3670D3;
  color: #3670D3;
  border-radius: .5rem;
  padding: 5px 16px;
}
.register{
  border: none;
  color: #fff;
  border-radius: .5rem;
  padding: 5px 16px;
  background: #3670D3;
}
.form{
  width: 500px;
}